
body {
  padding-top: 0 !important;
}

.main-content {
  padding-top: 0 !important;
}

/*********************************************

   IMAGE STYLE

*********************************************/

img {
  border-radius: 8px;
  display: block;
  height: 350px;
}

.image1 {
  float: left;
  margin: 0px 20px 85px 0px;
}

.image2 {
  float: right;
  margin: 0px 0px 15px 20px;
}

.image3 {
  float: left;
  width: 200px;
  margin: 0px 20px 15px 0px;
}

.image4 {
  float: right;
  width: 250px;
  margin: 0px 0px 15px 20px;
}

.image5 {
  float: left;
  margin: 0px 20px 15px 0px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
  margin-bottem: 30px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/********************************************

    PARAGRAPH STYLE

********************************************/

p {
  margin: 10px 35px 25px 35px
}

ph {
  color: grey;
  text-decoration: line-through;
  font-weight: bold;
  margin: 10px 35px 25px 35px
  text-allign: centre;
}

ph2 {
  font-size: 15px;
  color: grey;
  text-allign: centre;
}


/*******************************************

    HEADER STYLE
    
*******************************************/

.center {
  position: centre;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

imageb { 
  width: 100%;
  height: 150px;
  opacity: 0.3;
}

.header {
  padding: 60px;
  text-align: center;
  background: var(--dark);
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
}
