:root {

    --highlight: #F72424;
    --accent: #ff932f86;
    --dark: #252425;
    --background: #ff9100;

    scroll-behavior: smooth;
}

#app {
    /* downloaded from here https://www.143vinyl.com/files/downloads/free_downloads/sports/Volleyball.svg */
    background-image: url("/assets/images/volleyball_bg.svg");
    background-blend-mode: multiply;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: 10vw;
}